@page "/"
@using BlazorTypewriter;

<div>
    <h1><Typewriter Builder="@headerTypewriter" /></h1>

    <p><Typewriter Builder="@typewriter" /></p>
</div>

@code{
    TypewriterBuilder headerTypewriter = new TypewriterBuilder(defaultCharacterPause: 125)
        .TypeString("Typewriter Example");

    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 6)
        .TypeString("First line... Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
        .Pause(1000)
        .DeleteAll()
        .TypeString("Second line... Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 50)
        .Pause(500)
        .DeleteAll(30)
        .TypeString("Third line... Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 20)
        .Pause(500)
        .DeleteAll(20)
        .Pause(1000)
        .Loop();
}