<span class="typewriter">@Factory.DisplayText</span>

@code {
    [Parameter]
    public TypewriterFactory Factory { get; set; }

    protected override Task OnInitializedAsync() {
        Factory.DisplayChanged += (s, e) => {
            InvokeAsync(StateHasChanged);
        };

        Task.Run(() => Factory.Run());

        return base.OnInitializedAsync();
    }
}