@page "/"
@using BlazorTypewriter;

<div>
    <h1><Typewriter Factory="@headerTypewriter" CustomClass="custom-cursor" /></h1>

    <p><Typewriter Factory="@typewriter" /></p>
</div>

@code{
    TypewriterFactory headerTypewriter = new TypewriterFactory(defaultCharacterPause: 125)
        .TypeString("Typewriter Example");

    TypewriterFactory typewriter = new TypewriterFactory(defaultCharacterPause: 6)
        .TypeString("First line... Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
        .Pause(1000)
        .DeleteAll()
        .TypeString("Second line... Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 50)
        .Pause(500)
        .DeleteAll(30)
        .TypeString("Third line... Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 20)
        .Pause(500)
        .DeleteAll(20)
        .Pause(1000)
        .Loop();
}